/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;




@media only screen and (max-width: 600px) {
  .contact-page {
    grid-template-columns: 1fr !important;
  }
}




.bg-gradient {
      background: linear-gradient(rgba(255, 55, 100, 0.0),rgba(29, 38, 113, 0.8));
}

.light-theme {
  background-color: #D4D2CE;
}
.service  {
   background-color: #f7fbfc;
}


.kg-card.kg-embed-card iframe {
  position: relative !important;
}
